.content{ 
    width: 20%; 
    height: 300px; 
    background-color: white; 
    margin: 20px;
} 
   
  .img{ 
    width: 90%; 
    height: 66%; 
    background-image: url("/src//assets/image/de.jpg"); 
    background-size: cover;
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    border: 1px solid #3db9ff;
    border-radius: 30px; 
  }
   
  .name{ 
    justify-self: flex-end; 
  }
  
  .title{
    font-size: 28px;
    font-weight: bold;
  }
  
  .date{
    font-size: 16px;
  }
  
  .how{
    font-size: 16px;
  }
  