.background {
  background-color: rgb(140, 203, 249);
  height: 100vh;
  width: 100vw;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);

  overflow: visible;
  background-color: rgb(140, 203, 249);

  display: flex;
  flex-direction: column;
}

.titleWrap {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 700;
  height: 70px;
  color: #3284ef;
  overflow: visible;
  text-align: center;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 17px;
  font-weight: 600;
  color: #262626;
  overflow: visible;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 1px solid rgb(49, 71, 235);
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 15px;
  font-weight: 400;
}
.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
  overflow: visible;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 660;
  background-color: rgb(57, 134, 205);
  border-radius: 64px;
  color: whitesmoke;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}
