.searchContentBackground {
    //width: 1700px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ment2{
    width: 1080px;
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    justify-content: flex-start;
    margin-top: 40px;
  }