.mapPageBackground {
  width: 100%;
  height: 50%;
  background-color: #529dc8;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mapdetail {
  width: 530px;
  height: 90%;
  flex-direction: column;
  .line {
    transform: scale(0.54);
    justify-self: center;
  }
}
