.SearchBackground {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search_img{
    width: 100%;
    height: 400px;
    background-image: url("/src/assets/image/Background.jpg");
    background-position: center center;
}